/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: white;
  font-family: "segoe UI";
}

a {
  text-decoration: none;
}

.separator{
  width: 90%;
  margin: 10px auto;
  border: none;
  height: 2px;
  background: linear-gradient(to right, #180766, #2c2c2c);
}

